@tailwind base;
@tailwind components;
@tailwind utilities;


.swiper-button-next:after,
.swiper-button-prev:after {
    /* font-size:  21px !important; */
    --swiper-navigation-size: 20px;
    background-color: gray;
    padding: 10px;
    color: white;
}

.testimonials{
    background:  url('../assets/bg_testimonial.webp');
    width: 100%;
    /* background-repeat: no-repeat; */
}
.testimonials::before{
    width: 100%;
    background-image: url('../assets/before.webp');
    height: 74px;
}


.container{
    @apply  max-w-7xl mx-auto
}

:root {
    --color-primary: #FD6A02;
    --color-secondary: #FBE987;
    --color-third: #FDC726
}
.serviceCard img {
    transition: transform 0.3s ease;
}

.serviceCard:hover img {
    transform: scale(1.2);
}

.serviceCard:hover {
    transition: all 1s ease;

}