@tailwind base;
@tailwind components;
@tailwind utilities;


.swiper-button-next:after,
.swiper-button-prev:after {
    /* font-size:  21px !important; */
    --swiper-navigation-size: 20px;
    background-color: gray;
    padding: 10px;
    color: white;
}

:root {
    --color-primary: #D3710F;
    --color-secondary: #FBE987;
    --color-third  : #FDC726
  }